body {
  height: 100vh;
  width: 100vw;
  background: #141612;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.body-container {
  color: #fff;
  font-family: "Nunito", sans-serif;
  position: relative;
  padding: 6px 20px;
  text-align: center;
}
.item-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  background: #00b38126;
  padding: 9px 15px;
  border-radius: 100px;
  color: #00b381;
  font-size: 13pt;
  text-decoration: none;
}
.dp-image img {
  height: 15rem;
  border-radius: 50%;
  outline: 2px dashed #009688;
  outline-offset: 8px;
}
.title {
  font-size: 20pt;
  padding: 18px 0px;
  font-weight: 800;
  box-sizing: border-box;
  text-align: center;
}
.created-by-me-slug {
  font-weight: bold;
  padding: 0px 0px 4px 0px;
  border-bottom: 2px dashed #8bc34a;
  margin-bottom: 10px;
  color: #00b381;
}
.blurry-bg {
  width: 25vw;
  height: 25vw;
  min-height: 300px;
  min-width: 300px;
  opacity: 0.4;
  filter: blur(120px);
  background-color: #00b381;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.dp-image {
}
span.name {
  color: #cddc39;
  text-transform: uppercase;
  border-bottom: 2px solid #00b381;
}
img.img-dp {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

.dp-image-container {
  margin: auto;
  margin-top: 1rem;
  position: relative;
  height: 16rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dp-image-rotor {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px dashed #1cffea;
  border-left: dashed #00ff2a;
  border-top: dashed yellow;
  border-bottom: dashed #ff233c;
  border-radius: 50%;
  animation: rotateDiv 17s infinite linear;
}
@keyframes rotateDiv {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
  }

  section.view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    max-width: 45rem;
    margin: auto;
    padding: 6px 12px;
    box-sizing: border-box;
}