@font-face {
  font-family: ps_regular;
  src: url(fonts/ProductSans-Regular.woff);
}
@font-face {
  font-family: ps_bold;
  src: url(fonts/ProductSans-Bold.woff);
}
@font-face {
  font-family: ps_black;
  src: url(fonts/ProductSans-Black.woff);
}
@font-face {
  font-family: ps_light;
  src: url(fonts/ProductSans-Light.woff);
}

h3,
h4,
h5,
h6 {
  font-family: ps_bold;
}
h1,
h2 {
  font-family: ps_black;
}
.cover {
  /* Rectangle 26 */
  background: linear-gradient(90deg, #c9ffce 0%, #78997c 100%);

  /* Note: backdrop-filter has minimal browser support */
  padding-top: 3rem;
  padding-bottom: 10rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: "ps_light", sans-serif;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.title-line-1 {
  font-family: "ps_black", sans-serif;
  font-weight: bold;
  font-size: 32pt;
}

img.logo-img {
  height: 7rem;
}

.details-container {
  background: #fff;
  width: 80vw;
  margin: auto;
  margin-top: -6rem;
  border-radius: 21px;
  box-shadow: 0px 4px 19px 0px #00000033;
}

.desc-row {
  display: flex;
  justify-content: space-between;
  padding: 16px 22px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
}

.get-app-btn {
  background: #2bff67;
  padding: 18px 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.desc-container {
  width: 77%;
  padding: 0px 22px;
  padding-bottom: 2rem;
  line-height: 24px;
}

.desc-row h2 {
  padding: 0px;
  margin: 0px;
}

/* Img */
.scrollable-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.scrollable-content {
  display: inline-block;
  white-space: nowrap;
}

.image-container {
  position: relative;
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between images */
}

.image-placeholder {
  background-color: #eee;
  width: 100%;
  height: 200px; /* Adjust height of placeholder */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-placeholder img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.5; /* Adjust opacity of placeholder image */
}

.image-description {
  text-align: center;
  margin-top: 10px;
}

.image-description strong {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.image-description span {
  font-style: italic;
  color: #888;
}
.image-container img {
  width: 165px;
  position: relative;
}
.preview-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.preview-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
