@font-face {
  font-family: ps_regular;
  src: url(fonts/ProductSans-Regular.woff);
}
@font-face {
  font-family: ps_bold;
  src: url(fonts/ProductSans-Bold.woff);
}
@font-face {
  font-family: ps_black;
  src: url(fonts/ProductSans-Black.woff);
}
@font-face {
  font-family: ps_light;
  src: url(fonts/ProductSans-Light.woff);
}

h3,
h4,
h5,
h6 {
  font-family: ps_bold;
}
h1,
h2 {
  font-family: ps_black;
}
.cover {
  /* Rectangle 26 */
  background: linear-gradient(90deg, #c9ffce 0%, #78997c 100%);

  /* Note: backdrop-filter has minimal browser support */
  padding-top: 3rem;
  padding-bottom: 10rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: "ps_light", sans-serif;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0px 20px;
}
.title-line-1 {
  font-family: "ps_black", sans-serif;
  font-weight: bold;
  font-size: 32pt;
}

img.logo-img {
  height: 7rem;
}

.details-container {
  background: #fff;
  width: 80vw;
  margin: auto;
  margin-top: -6rem;
  border-radius: 21px;
  box-shadow: 0px 4px 19px 0px #00000033;
}

.desc-row {
  display: flex;
  justify-content: space-between;
  padding: 16px 22px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
}

.get-app-btn {
  background: #2bff67;
  padding: 18px 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.desc-container {
  width: 100%;
  padding: 0px 22px;
  padding-bottom: 2rem;
  line-height: 24px;
  box-sizing: border-box;
}

.desc-row h2 {
  padding: 0px;
  margin: 0px;
}

/* Img */
.scrollable-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.scrollable-content {
  display: inline-block;
  white-space: nowrap;
}

.image-container {
  position: relative;
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between images */
}

.image-placeholder {
  background-color: #eee;
  width: 100%;
  height: 200px; /* Adjust height of placeholder */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-placeholder img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.5; /* Adjust opacity of placeholder image */
}

.image-description {
  text-align: center;
  margin-top: 10px;
}

.image-description strong {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.image-description span {
  font-style: italic;
  color: #888;
}
.image-container img {
  width: 165px;
  position: relative;
}
.preview-loader {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
}
.preview-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #949494;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.preview-wrapper {
  width: 150px;
  height: 318px;
  background: #e3e3e3;
  border-radius: 17px;
  position: relative;
  overflow: hidden;
}

.preview-container {
  padding: 1rem 0rem;
  scroll-snap-align: start;
  width: 150px;
}

.prev-loader-wrapper {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  text-align: center;
  padding: 2rem;
  font-family: "ps_bold", sans-serif;
}
.preview-parent-container {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: start;
  overflow-x: auto;
  gap: 2.5rem;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  position: relative; /* Add position relative for absolute positioning of buttons */
}

.preview-text {
  text-align: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  white-space: pre-line;
}
img.lazy {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview-parent-container::-webkit-scrollbar {
  display: none;
}
.preview-container:first-child {
  padding-left: 1.5rem;
}
.preview-container:last-child {
  padding-right: 1.5rem;
}
button.nav-button.nav-button-left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: #ffffffe6;
  backdrop-filter: blur(6px);
  cursor: pointer;
}

button.nav-button.nav-button-right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 5;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: #ffffffe6;
  backdrop-filter: blur(6px);
  cursor: pointer;
}
h2.headline {
  margin: 0;
  padding: 16px 22px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
}
img#maintainer-xc {
  height: 125px;
  border-radius: 50%;
}

div#block-maintainer {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

h3.mantainer-name {
  font-family: "ps_black", sans-serif;
  margin: 0;
  font-size: 22pt;
}

.maintainer-link-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.maintainer-link-wrapper a {
  font-family: "ps_light", sans-serif;

  text-decoration: none;
  color: black;
  padding: 6px 0px;
}
img.ic-small {
  height: 18px;
}
.maintainer-link-wrapper span {
  font-size: 20px;
}
p.about-maintainer {
  width: 266px;
}
@media only screen and (max-width: 510px) {
  img.logo-img {
    height: 6rem;
  }

  .title-line-1 {
    font-size: 28pt;
  }

  .title-container {
    gap: 1rem;
  }

  p.about-maintainer {
    width: auto;
  }

  div#block-maintainer {
    padding: 18px 14px;
  }
  .details-container {
    width: 92vw;
  }
}

@media only screen and (max-width: 380px) {
  .desc-row {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.title-line-3 {
  display: inline-block;
  background: #165c1d5c;
  padding: 5px 10px;
  border-radius: 9px;
  margin-top: 6px;
}
img.mart-ic {
  height: 24px;
}

a.dl-btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 9px;
  margin: 5px;
}

.row-1 {
  display: flex;
  padding: 13px;
  font-family: "ps_bold", sans-serif;
  align-items: center;
  gap: 8px;
}

a.dl-btn.dl-direct {
  background: #2bff67;
  color: #000;
}

.block-download {
  padding: 1.5rem;
}

.row-1 {
}

a.dl-btn.dl-github {
  background: #000;
  color: #fff;
}

a.dl-btn.dl-apkpure {
  background: #ffffff;
  color: #0a3d24;
  border: 1px solid #9f9f9f;
}
img.mart-ic.mic-gh {
  filter: invert(1);
}
html {
  scroll-behavior: smooth;
}
